<div class="container "> 
<img src="\assets\img\nos-partenaire.jpg" alt="" class="item-a">
<div class="item-b">
    <ul>
        <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="item-c">
        <p>copiright</p>
    </div>
    <ul class="item-d">
        <li>acceuil</li>
        <li>PRESENTATION</li>
        <li>nos products</li>
        <li>contact</li>
    </ul>
    </div>