<div class="container">
<div>

<h1>Présentation du societé</h1>
<p>
    <br>
    <br>
    Société EBS MAGHREB, est active depuis 2015. Intervient dans le domaine 
     d’équipement de bâche et de store, bâche camion, tente de chantier…
    
    
    <br>
    Nous offrons une gamme variée de :
</p>

    <ol>
    <li> Intérieurs : enrouleurs avec motorisation OU avec chainette. </li>
    <li>Stores Extérieurs : Stores Box, Stores Bannes, Stores Verticaux.. </li>
    <li>Toiles Tendues, acrylique, imperméable.. </li>
    <li>Housse de Voitures, Bâche de piscine et autres.. 
    Parasols.</li>
</ol>
<button class="button left" >lire la suite</button>
</div>
<img src="\assets\img\agence-1.jpg" class="img" alt="">
</div>

