<div class="box">
<h1> nos product</h1>

<p class="item">
    
    
    Notre société repose sur un défi à relever sans cesse des produits de qualité au meilleur prix,<br> 
    En permanence. Voilà ce qui vaut d’être reconnus comme les spécialistes de la décoration et de l’aménagement.

</p>
</div>
<div class="container">
<div><img src="\assets\img\toil-288x288.jpg" alt="">
</div>
<div><img src="\assets\img\test-288x288.jpg" alt=""></div>

<div><img src="\assets\img\store-test-288x288.jpg" alt=""></div>

<div><img src="\assets\img\tesndu-test-288x288.jpg" alt=""></div>

<div><img src="\assets\img\system-test-288x288.jpg" alt=""></div>

</div>