<div class="container">
<div class="item-a">
<h1>Nos catalogues</h1>
<p>
    Technical • Office • Textile • Nautic • Solar Pro
    Nos tissus répondent aux objectifs industriels selon des standards techniques extrêmes.
    Les lignes de produits sont regroupées par secteurs d’application et de spécialisation.
</p>
<br>
<ol>
    <li> Pro : toiles design pour protection solaire.</li>
    <li></li>Textile : tissus In et Out Solution Dyed pour décoration et tapisserie.
    <li>Nautic : tissus haut de gamme qui offrent des prestations maximums dans le secteur nautique.</li>
    <li>Technical Soluciones : textiles pour les secteurs techniques, comme la construction, le transport, le stockage, la protection, la manutention, les piscines, les installations, les structures tendues, le digital print…</li>
    <li>Office Screens haut de gamme pour In et Out : tamisent et filtrent la lumière, en régulant le confort visuel et thermique.</li>
</ol>
</div>
<div class="item-b">
<img src="\assets\img\CATALOGUE-SITE.png" alt="">
<button>telecharger nos catalogues</button>
</div>
</div>