.container{
    display: grid;
    grid-template-columns: 4fr 1fr;

}
.item-a{
grid-column-start: 1;
}
.item-b{
grid-column-start: 2;
}
img{
    width: 300px;
}

@media(max-width: 700px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

    }
    .item-a{
        grid-row-start: 1;
        grid-column-start: 1;
    
    }
    .item-b{
        grid-row-start: 2;
        grid-column-start: 1;
        
    }
}